.img1 {
    height: 570px;
    width: 430px;
}

.img2 {
    height: 400px;
    width: 539px;
}

@media only screen and (max-width:576px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media only screen and (max-width:576px) {
    .img1 {
        height: 300px;
        width: 220px;
    }

    .img2 {
        height: 315px;
        width: 245px;
    }
  
}